<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net462" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.Log4Net208" version="3.4.1" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.33" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net462" />
  <package id="Nethereum.ABI" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.Accounts" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.BlockchainProcessing" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.Contracts" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.Hex" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.JsonRpc.Client" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.JsonRpc.RpcClient" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.JsonRpc.WebSocketClient" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.KeyStore" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.Model" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.RLP" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.RPC" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.RPC.Reactive" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.Signer" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.Util" version="4.1.1" targetFramework="net462" />
  <package id="Nethereum.Web3" version="4.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Piratecat.StockChart" version="1.0.7" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net462" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net462" />
</packages>